@import "tailwindcss";

/* :root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #ffffff;
  --border: #e5e4e7;

  font: 18px/145% system-ui, 'Segoe UI', Roboto, sans-serif;
  letter-spacing: 0.18px;

  color-scheme: light;
  color: var(--text);
  background: var(--bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

#root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

h1,
h2 {
  font-family: system-ui, 'Segoe UI', Roboto, sans-serif;
}

p {
  margin: 0;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(8px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.2s ease-out;
}
